body{
  background-color: silver;
font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  text-align: center;
}

.assign {
  background-color: gold;
  margin: 10px;
  padding: 10px;
  display: flex; 
}
.assign img {
  width: 200px;
  padding: 10px;
}
